* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
}

:root {
    --general-spacing: 10px;
    --general-spacing-double: calc(var(--general-spacing) * 2);
    --general-spacing-half: calc(var(--general-spacing) / 2);
    --primary-text-color: white;
    --secondary-text-color: black;
    --primary-color: aqua;
    --secondary-color: green;
    --background-color: #23272F;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181A20;
}

button {
    cursor: pointer;
    border: none;
}

.dialog {
    padding: var(--general-spacing);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

.btn {
    padding: var(--general-spacing);
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border: none;
    border-radius: 15px;
    font-weight: bold;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-input {
    display: flex;
    flex-direction: column;
    gap: calc(var(--general-spacing) / 2);
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--general-spacing);
}

.title {
    padding-bottom: var(--general-spacing-half);
    border-bottom: 1px solid grey;
}

.main {
    width: 500px;
    height: 500px;
    background-color: var(--background-color);
    padding: var(--general-spacing);
    text-align: center;
    color: var(--primary-text-color);
    border: 1px solid var(--primary-text-color);
    border-radius: 15px;

    display: grid;
    grid-template-rows: max-content 100px 1fr max-content;
    grid-template-areas:
        "header"
        "info"
        "board"
        "actions";

    .board {
        padding: var(--general-spacing);
        grid-area: board;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);

        .cellContainer {
            display: flex;
            
            .cell {
                font-size: 2rem;
                width: 100%;
                height: 100%;
                background-color: transparent;
                color: inherit;
            }

        }

        .cell-container-with-bottom-border {
            border-bottom: 3px solid var(--secondary-color);
        }

        .cell-container-with-right-border {
            border-right: 3px solid var(--secondary-color);
        }
    }
    
    .info {
        display: flex;
        margin: var(--general-spacing) 0;
        justify-content: space-between;
        align-items: center;
        padding: var(--general-spacing);
        
        .currentPlayer {
            display: flex;
            align-items: center;
        }
        
        .currentMark {
            font-size: 2rem;
            padding: 0 var(--general-spacing);
        }
    }

}
