* {
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    --general-padding: 10px
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.main {
    width: 400px;
    height: 400px;
    border-radius: 1px solid blue;
    background-color: white;
    padding: var(--general-padding);

    display: grid;
    grid-template-rows: max-content max-content 1fr;
    grid-template-areas:
        "header"
        "options"
        "board";

    .board {
        grid-area: board;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        border: 1px solid green;
    }
    
    .cell {
        display: flex;

        button {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: 1px solid blue;
            cursor: pointer;
        }
    }
}
